<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/formulario.css">
    <title>Sai-hub</title>
</head>

<body>
    <section id="results" class="container">
        <h1>All Articles</h1>
        <% if(arts.length>0) {%>
            <% for(var i=0; i<arts.length; i++) {%>
                <div class="gig">
                    <h3><%= arts[i].NOME %></h3>
                    <p><%= arts[i].AUTOR_ID %></p>
                    <p><%= arts[i].DOWNLOADS %></p>
                    <ul>
                        <li>Data: <%= arts[i].DATA_PUBLI %></li>
                    </ul>
                </div>
            <% } %>
        <% } else { %>
            <p>No articles available</p>
        <% } %>
        
    </section>

</body>
</html>